.DS_Store

/tilde/bundle/cache
/tilde/bundle/ruby

/tilde/config/asciinema/
/tilde/config/configstore
/tilde/config/dconf/
/tilde/config/direnv
/tilde/config/enchant/
/tilde/config/fish/fishd.*
/tilde/config/gedit/
/tilde/config/gnome-initial-setup-done
/tilde/config/gtk-3.0/bookmarks
/tilde/config/htop/
/tilde/config/ibus/
/tilde/config/mimeapps.list
/tilde/config/nautilus/
/tilde/config/pulse/
/tilde/config/user-dirs.dirs
/tilde/config/user-dirs.locale
/tilde/config/.gsd-keyboard.settings-ported
/tilde/config/autostart/
/tilde/config/pgcli/
/tilde/config/eog/
/tilde/config/evolution/
/tilde/config/dlv/.dbg_history
/tilde/config/gnome-boxes
/tilde/config/libvirt
/tilde/config/Nextcloud
/tilde/config/QtProject.conf
/tilde/config/iterm2
