.DS_Store
/.vagrant

/tilde/bundle/cache
/tilde/bundle/ruby

/gnupg/private-keys-v1.d
/gnupg/pubring.gpg
/gnupg/trustdb.gpg

/tilde/config/asciinema/
/tilde/config/configstore
/tilde/config/dconf/
/tilde/config/direnv
/tilde/config/enchant/
/tilde/config/fish/fishd.*
/tilde/config/gedit/
/tilde/config/gnome-initial-setup-done
/tilde/config/gtk-3.0/bookmarks
/tilde/config/htop/
/tilde/config/ibus/
/tilde/config/mimeapps.list
/tilde/config/nautilus/
/tilde/config/pulse/
/tilde/config/user-dirs.dirs
/tilde/config/user-dirs.locale
/tilde/config/.gsd-keyboard.settings-ported
/tilde/config/autostart/
/tilde/config/pgcli/
