---
- name: Install the required packages
  hosts: all
  sudo: True
  vars:
    nodejs_version: 6.x
    ruby_version: 2.3
    rust_version: 1.13.0
    apt_keys:
      - 'http://packages.erlang-solutions.com/ubuntu/erlang_solutions.asc'
      - 'https://deb.nodesource.com/gpgkey/nodesource.gpg.key'
    apt_repositories:
      - 'deb http://packages.erlang-solutions.com/ubuntu xenial contrib'
      - 'deb https://deb.nodesource.com/node_{{ nodejs_version }} xenial main'
      - 'ppa:brightbox/ruby-ng'
      - 'ppa:jonathonf/vim'
    apt_packages:
      - curl
      - elixir
      - git
      - htop
      - jq
      - nodejs
      - ruby-switch
      - ruby{{ ruby_version }}
      - ruby{{ ruby_version }}-dev
      - silversearcher-ag
      - tig
      - tmux
      - tree
      - vim
      - wget
      - zsh
    vim_packages:
      editorconfig-vim: editorconfig/editorconfig-vim
      neomake: benekastah/neomake
      vim-colors-solarized: altercation/vim-colors-solarized
      vim-commentary: tpope/vim-commentary
      vim-pathogen: tpope/vim-pathogen
      vim-polyglot: sheerun/vim-polyglot
      vim-surround: tpope/vim-surround
      vim-repeat: tpope/vim-repeat
    npm_packages:
      - alex
      - commitizen
      - elm
      - semantic-release-cli
    ruby_gems:
      - awesome_print
      - bundler
      - manpages
      - pry
      - tmuxinator
    cargo_packages:
      - rustfmt
    marks:
      c: /home/vagrant/Code
    spell_files:
      - en.utf-8.spl
      - en.utf-8.sug
      - de.utf-8.spl
      - de.utf-8.sug
  tasks:
    - shell: ls -1 /vagrant/tilde
      register: dotfiles
    - name: Link Dotfiles
      file: path=/home/vagrant/.{{ item }} src=/vagrant/tilde/{{ item }} owner=vagrant group=vagrant state=link
      with_items: "{{ dotfiles.stdout_lines }}"

    - name: Add APT Keys
      apt_key: url="{{ item }}"
      with_items: "{{ apt_keys }}"
    - name: Add APT Repositories
      apt_repository: repo="{{ item }}" state=present
      with_items: "{{ apt_repositories }}"
    - apt: name=aptitude
    - name: Update cache and upgrade
      apt: update_cache=yes upgrade=safe
    - name: Install missing packages
      apt: name={{ item }}
      with_items: "{{ apt_packages }}"

    - name: Set default shell for Vagrant user
      user: name=vagrant shell=/bin/zsh
    - name: Install ZSH Syntax Highlighting
      git: repo=https://github.com/zsh-users/zsh-syntax-highlighting dest=/home/vagrant/.zsh/plugins/zsh-syntax-highlighting
      become: vagrant

    - name: Set the timezone
      command: timedatectl set-timezone Europe/Berlin

    - name: Create the marks directory
      file: path=/home/vagrant/.marks state=directory owner=vagrant group=vagrant
    - name: Configure the marks
      file: path=/home/vagrant/.marks/{{ item.key }} state=link src={{ item.value }} force=yes owner=vagrant group=vagrant
      with_dict: "{{ marks }}"

    - name: Install default Ruby gems
      command: gem install {{ item }}
      with_items: "{{ ruby_gems }}"

    - name: Install default NPM packages
      command: npm install -g {{ item }}
      with_items: "{{ npm_packages }}"

    - name: Download hub
      get_url: url=https://github.com/github/hub/releases/download/v2.2.2/hub-linux-amd64-2.2.2.tgz dest=/tmp/hub.tgz
    - name: Unarchive hub
      unarchive: src=/tmp/hub.tgz dest=/tmp copy=false
    - name: Move hub
      command: cp /tmp/hub-linux-amd64-2.2.2/bin/hub /usr/local/bin/hub

    - name: Install or update vim plugins
      git: repo=https://github.com/{{ item.value }} dest=/home/vagrant/.vim/bundle/{{ item.key }}
      with_dict: "{{ vim_packages }}"
      become: vagrant
    - file: path=/home/vagrant/.vim/spell state=directory owner=vagrant group=vagrant
    - name: Install spell files for vim
      get_url: url=http://ftp.vim.org/pub/vim/runtime/spell/{{ item }} dest=/home/vagrant/.vim/spell/{{ item }}
      with_items: "{{ spell_files }}"
      become: vagrant
